<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>错误</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.bootcss.com/jquery/1.10.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-mobile/1.4.5/jquery.mobile.min.js"></script>
    <link href="https://cdn.bootcss.com/jquery-mobile/1.4.5/jquery.mobile.min.css" rel="stylesheet">

    <link href="https://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/socket.io/2.0.3/socket.io.js"></script>

  </head>
  <body>
    <div data-role="page">
      <style>

      </style>
      <h3>出错了哦</h3>

      <div data-role="content">
        <form action="/" method="get">
          <h3>更改密码</h3>
          <div data-role="fieldcontain">
            <a href="/zhhuce" data-role="btn" method="get" id="backce">去注册</a>
            <button type="submit" id="back">去登录</button>
          </div>
        </form>

      </div>

    </div>

  </body>
</html>
